# ignore various build/cache related python files
*.egg-info
**/__pycache__
.pytest_cache

# ignore root-level python files except for specific exclusions
/*.py
!/setup.py

# ignore IDE files
**/.vscode

# ignore local folder
/local